.container {
    width: 800px;
    height: 500px;

}
body {
    background: wheat;
}
.header, .footer{
    background: white;
    text-align: center;
    height: 100px;
    border: solid 3px black;

}
.box{

    overflow: hidden;

}
img{
    width: 125px;
    height: 60px;
    vertical-align: top;
}
.left_column {
    float: left;
    height: 100%;
    width: 20%;
}
.cells_cont {
    margin-top: 5px;
    height: 550px;
    width:79%;
    display: inline-block;
    vertical-align: top;

}
.cells {
    background: white;
    height: 27%;
    display: inline-block;
    width: 30%;
    text-align: center;
    padding-left: 3px;
    margin: 5px;
    border: black solid 2px;
}
.menu-item {
    text-align: center;
    margin: 10px;
    background: lawngreen;
    border: solid black 1px;

}
.footer {
    margin-top: 50px;
}
.pager {
    margin-top: 50px;
    height: 30px;
    border: solid black 1px;
    background: white;
    width:79%;
    margin-left: 20%;
}
.cell_detail {

    text-align: center;
    margin-top: 5px;
    height: 400px;
    width:79%;
    background: white;
    border: solid black 1px;
    vertical-align: top;
    display: none;
    margin-left: 20%;
}
.big-img {
    width: 500px;
    height: 200px;
}

.cells:hover {
    display: inline-block;
    border: 2px solid red;
}
.button {
    border: 1px solid black;
    background: white;
    padding: 5px;
    display: inline-block;
    vertical-align: bottom;
}






















