.jumbotron{
    border: 1px solid black;
    width: 30%;
    height: 150px;
    display: inline-block;
    padding: 30px;
    vertical-align: top;
}
.container1 {
    border: 1px solid black;
    width: 60%;

    display: inline-block;

}
.content1 {
    height: 87%;
}

.left_p{
    height: 200px;
    border: solid black 1px;
    width: 25%;
    display: inline-block;
    background: yellow;
    vertical-align: top;
}
.main {
    border: solid black 1px;
    display: inline-block;
    width: 68%;
    padding: 5px;
}
.header {
    margin-top: -20px;
    height: 13%;
    background: cornflowerblue;

}
.cell {
    border: 1px solid black;
    width: 47%;
    display: inline-block;
    height: 150px;
    vertical-align: top;
}
