<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Pizza Shop</title>
    <link href="resources/css/style.css" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="resources/js/angular_app.js"></script>
    <script src="resources/js/main.js"></script>
</head>
<body ng-app="myApp">

<div class="header">
    <h1>Pizza Main</h1>

</div>
<div class="container" ng-controller="myCtrl">

    <div class="box">
        <div class="left_column">
            <div class="menu-item"><h3>All Pizza</h3></div>
            <div class="menu-item"><h3>Orders</h3></div>


        </div>
        <div class="cells_cont">
            <div ng-repeat="pizza in pizzas" class="cells" ng-click="getOne($index)" onclick="onToggle()">
                <p>{{ pizza.title }}</p>
                <img src="resources/images/pizza.jpg">

                <p>{{ pizza.price | currency }}</p>

            </div>

            <span ng-click="previous()" class="button">Previous</span>
            <span ng-click="next()" class="button" style="margin-left: 80%">Next</span>

        </div>
        <div class="cell_detail">
            <h2>{{ targetPizza.title }}</h2>
            <span class="big-img"><img class="big-img" src="resources/images/pizza.jpg"></span>

            <h3>price: {{" " + targetPizza.price | currency }}</h3>

            <h3>id: {{" " + targetPizza.id }}</h3>

            <h3>description:{{" " + targetPizza.description }}</h3>
        </div>
<!--
        <div class="pager"><input type="button" ng-click="next()" value="next">
            <input type="button" ng-click="previous()" value="previous">

        </div>
-->


    </div>



</div>
<div class="footer">
    <h2>FOOTER</h2>

    <p>Powered by: {{firstName + " " + lastName}}</p>
</div>

</body>
</html>